#menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#componentTitle {
  text-align: center;
  color: brown;
  font-size: xx-large;
}

#menuValues {
  inline-size: 75%;
  display: flex;
  justify-content: space-evenly;
}

.menuItem {
  color: blue;
  font-size: large;
}
